:root {
  --night: hsla(164, 71%, 4%, 1);
  --ash-gray: hsla(87, 7%, 75%, 1);
  --silver: hsla(120, 2%, 67%, 1);
  --blueish: #355691;
  --purpureus: hsla(291, 27%, 51%, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

main {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 5fr;
  grid-template-rows: 20% 1fr 5%;
  grid-template-areas:
    "header header"
    "nav content"
    "footer footer";
  height: 100%;
  width: 100%;
}

#header {
  grid-area: header;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "logo name"
    "logo tagline";
  display: grid;
}

#header,
#footer,
#nav {
  height: 100%;
  width: 100%;
  color: var(--ash-gray);
  background-color: var(--night);
  font-family: Arial, Helvetica, sans-serif;
}

#nav {
  grid-area: nav;
  display: block;
  width: 100%;
}

#content {
  grid-area: content;
  height: 100%;
  width: 100%;
  background-color: var(--silver);
}

#footer {
  grid-area: footer;
  justify-content: center;
  align-items: center;
  display: grid;
}

#logoDiv {
  display: grid;
  grid-area: logo;
  justify-items: center;
  align-items: center;
}

#logoDiv > img {
  transform: scaleX(-1);
}

#pageName {
  font-size: 2em;
  padding-left: 10%;
  display: grid;
  align-items: end;
  letter-spacing: 10px;
}

#tagline {
  font-size: 1em;
  padding-left: 10%;
}

#navBarTop {
  display: flex;
  justify-content: space-evenly;
}

.sortBTNtitle {
  text-align: end;
  color: var(--blueish);
  font-weight: bold;
  padding-right: 10%;
}

.sortButtons {
  width: 50px;
  height: 50px;
  margin: 10% 0%;
  border-radius: 50%;
  border: none;
  background-color: var(--blueish);
  color: var(--ash-gray);
}

form {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  border: 2px solid;
  padding: 5% 0%;
  margin: 5%;
  color: var(--night);
  background-color: var(--ash-gray);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  gap: 3%;
}

input,
#projectPriority,
#taskPriority {
  box-sizing: border-box;
  width: 10em;
  border: 2px solid var(--night);
  color: var(--night);
  font-size: 16px;
  padding: 2px;
  background-color: var(--ash-gray);
  font-family: Arial, Helvetica, sans-serif;
}

#taskDescription {
  width: 10em;
  field-sizing: content;
}

form > button {
  color: var(--night);
  border: none;
  background-color: var(--silver);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 2em;
  width: 10em;
  border: 2px solid var(--night);
  margin: 2% 0%;
}

.projectButton button,
#createNewProject {
  width: 90%;
  border: none;
  background-color: var(--blueish);
  color: var(--ash-gray);
  padding: 1em;
  border-radius: 50px;
  margin: 5% 0%;
}

/* Hide the default checkbox */
input[type="checkbox"] {
  appearance: none;
  width: 20px;
height: 20px;
  border: 2px solid var(--night);
  position: relative;
  cursor: pointer;
  background-color: var(--ash-gray);
}

/* Adding a checkmark */
input[type="checkbox"]:checked::after {
  content: "✔";
  color: var(--night);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
